.header{
  
    
    background-image: url('./Assets/Hero-bg.png');
    height: 698px ; 
   background-color: rgb(17, 13, 13);
     box-shadow: 5px 4px 3px rgba(18, 15, 20, 0.726) ;
     
     
}
.flex{
    display: flex;
    justify-content: space-between;
    margin: 30px 80px ;
     justify-content: space-around ;
     padding: 18px;
      justify-content: space-between;
      align-items: center;
  
    
}
/* logo*/
.cossette-titre-regular {
  font-family: "Cossette Titre", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cossette-titre-bold {
  font-family: "Cossette Titre", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.epunda-slab-uniquifier {
  font-family: "Epunda Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.oswald-uniquifier {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
#ami{

    color: #4E47FF;
    text-shadow: 02px 02px 03px black;
    shape-margin: ;
}

button{ background-color: #4E47FF; ;
    font-weight: bold;
     color: white;
      padding: 18px 35px;
       border-radius: 15px; 
       font-size: 20px;
       border: none;
    
}
 

.you{
   margin:  30px 5px ;
   
   text-align: center;
     
    
}
.cossette-titre-r {
  font-family: "Cossette Titre", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cossette-titre-u {
  font-family: "Cossette Titre", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.epunda-slab-i {
  font-family: "Epunda Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.inter-l {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.oswald-k {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.raleway-h {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.hed-body{
    padding: 150px;
}
.ami2{
  margin: 150px 159px  ;
  
}
.text-color{
  color: #25243252 ;
}
img{
border-radius: 48px; 

}

.papa{
  width: auto;
  
}
.skills-container{
  display: flex;
    gap: 54px;

}
.skil{
     background-color: rgba(253, 253, 253, 0.877);
     box-shadow: 5px 2px 3px rgba(143, 140, 146, 0.726) ;
     border-radius: 5px;
     width: 366px; ;

    }

.img{
    height: 180px;
    margin: 15px;
    
}    
.skill-title{
  margin-left: 10px;
}
.skill-description{
    margin-left: 10px ;}
.mom2{
  gap: 70px;
  margin-left: 10px;
}    

.mom3{
  display: flex;
  justify-content: space-around ;
}

.mom6{
  display: flex;
}
.hmm{
  color: rgba(163, 103, 103, 0.637);
}
.hmmm{
  gap: 10px;
  margin-left:10px;
}
/*banner*/
.banner{  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  background-color: #f4f4f7;
  border-radius: 10px;

}
.banana{
padding: 18px 35px;
 align-items: center;
 margin-top: 18px;
}

/*from*/
.Touch{ width: auto;
  background-color: #ffffffc9;
}
.form{
   font-size:larger;
    height: 64px; width:90% ;
    border-radius: 5px;
    background-color: white ;
    display: block;
    padding: 10px 20px ;
    margin-bottom: 24px ;
    border: none;
}
footer input[type='text'] , footer input[type="email"] ,footer textarea  { font-size:larger;
    height: 54px; width:95% ;
    border-radius: 5px;
    background-color: rgba(248, 236, 236, 0.904) ;
    display: block;
    padding: 10px 20px ;
    margin-bottom: 24px ;
    border: none;
}
.ami8{
  
 height: 54px; width:108% ;
}

/*footer*/
.ami10{ color:#4E47FF ;
        font-size: 70px;

}

.cossette-titre-2 {
  font-family: "Cossette Titre", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cossette-titre-bold {
  font-family: "Cossette Titre", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ami11{ 
  padding: 50px;
  text-align: center;
}
.hi{
gap: 15px;
  padding: 50px;
  margin-top: 10px;
  margin-bottom: 0px;


}
.fot{
  width: auto;
  background-color: #f4f4f7;
    
}
.last{
  text-align: center;
color: #25243252 ;
text-decoration: none;
font-size: 20px;
margin-top: 10px;

}
.arkoto{
  
  justify-content: center;
  
}
.main{
  
  margin-top: 0px;
  gap: 35px;
  padding: 10px;
}